# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
.env

# Django
db.sqlite3
HEAD
staticfiles/
taticfiles/
3573dec (Update .gitignore to allow media uploads)

# OS / editor
.vscode/
.DS_Store
Thumbs.db
